<div class="container">
  <div class="row">
    <% @cakes.each do |cake| %>
    <div class="col-sm-4"><img src=<%= cake.photo%>></img><br><span><%= cake.name %></span><h3><%= cake.price %></h3><p><%= cake.description %><p></div>
    <% end %>
  </div>
</div>
