<div id="bg">
  <img class="d-block w-100" id="bg-photo-page" src="background.jpg"</img>
</div>
<nav id="navbar">
  <div class="home">
    <a href="/">O</a>
  </div>
  <ul>
    <li><a href="/cookies">Cookies</a></li>
    <li><a href="/cakes">Cakes</a></li>
    <li><a href="/pastries">Pastries</a></li>
  </ul>
</nav>
<div class="container">
  <div class="row">
    <% @cookies.each do |cookie| %>
    <div class="col-sm-4"><div class="photo-frame"><div class="photo"><img src=<%= cookie.photo%>></img></div></div><div class="text"><span><%= cookie.name %></span><h3><%= cookie.price %></h3><p><%= cookie.description %></p></div></div>
    <% end %>
  </div>
</div>
