<div class="container">
  <div class="row">
    <% @cookies.each do |cookie| %>
    <div class="col-sm-4"><img src=<%= cookie.photo%>></img><br><span><%= cookie.name %></span><h3><%= cookie.price %></h3><p><%= cookie.description %></p></div>
    <% end %>
  </div>
</div>
