<div id="bg">
  <img class="d-block w-100" id="bg-photo" src="background.jpg"</img>
</div>
<div id="grid">
  <div id="blurb">
    <h2>Olivia's Bakery</h2>
    <p>I would love to be a baker! Here are some of the things I might make if I were. Too bad I'm a coder instead!</p>
  </div>
  <div class="item hidden" id="cookies" onclick="load_out('/cookies')">
    <h3>Cookies</h3>
  </div>
  <div class="item hidden" id="cakes" onclick="load_out('/cakes')">
    <h3>Cakes</h3>
  </div>
  <div class="item hidden" id="pastries" onclick="load_out('/pastries')">
    <h3>Pastries</h3>
  </div>
</div>
<script src="main.js"></script>
