<div id="bg">
  <img class="d-block w-100" id="bg-photo" src="background.jpg"</img>
</div>
<div id="grid">
  <div id="blurb">
    <h2>Olivia's Bakery</h2>
    <p>I would love to be a baker! Here are some of the things I might make if I were. Too bad I'm a coder instead! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <div class="item hidden" id="cookies" onclick="load_out('/cookies')">
    <h3>Cookies</h3>
  </div>
  <div class="item hidden" id="cakes" onclick="load_out('/cakes')">
    <h3>Cakes</h3>
  </div>
  <div class="item hidden" id="pastries" onclick="load_out('/pastries')">
    <h3>Pastries</h3>
  </div>
</div>
<script src="main.js"></script>
