<div class="container">
  <div class="row">
    <% @pastries.each do |pastry| %>
    <div class="col-sm"><img src=<%= pastry.photo%>></img><br><span><%= pastry.name %></span><h3><%= pastry.price %></h3><p><%= pastry.description %></p></div>
    <% end %>
  </div>
</div>
