@import "home.css";
@import "items.css";


body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

footer {
  height: 50px;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(91, 121, 92);
  text-align: right;
  padding: 10px;
}

input {
  background-color: rgb(160, 181, 161);
  border: none;
  color: white;
}

.hidden {
  display: none;
}

#bg {
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  height: 100%;
  z-index: -1;
  margin: 0;
}
